/* Font for website majority */

* {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

em {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

/* Body requirements */
body {
  background-color: #edeef3;
  background-image: var(--bs-gradient);
  color: #31343a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card-text, .card-title {
  color: #31343a;
}

/* Navbar requirements */
nav {
  font-size: 18px;
  background-color: none;
  text-align: right;
}

.navbar-toggler {
  border: none;
}

/* Change hyperlink color/style */
a {
  color: #d63384;
  font-weight: 600;
}

/* Change hyperlink, navbar-link, and dropdown-item hover color */
a:hover, .navbar-brand:hover, .nav-link:hover, .dropdown-item:hover {
  color: #3d8bfd;
}

/* Position the dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  border-color: #1a1d20;
  text-align: right;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
  display: none;
}

/* Break apart nav-items */
.nav-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Color of dropdown option and nav-links on click and when active */
.dropdown-item:active {
  background-color: #247ba0!important;
}

.text-oscillation::before {
  content: "Hands-On Deck";
  animation-name: oscillation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes oscillation {
  0% {content: " "}
  1% {content: "H"}
  2% {content: "Ha"}
  3% {content: "Han"}
  4% {content: "Hand"}
  5% {content: "Hands"}
  6% {content: "Hands-"}
  7% {content: "Hands-O"}
  8% {content: "Hands-On"}
  9% {content: "Hands-On "}
  10% {content: "Hands-On D"}
  11% {content: "Hands-On De"}
  12% {content: "Hands-On Dec"}
  13% {content: "Hands-On Deck"}
  88% {content: "Hands-On Deck"}
  89% {content: "ands-On Deck"}
  90% {content: "nds-On Deck"}
  91% {content: "ds-On Deck"}
  92% {content: "s-On Deck"}
  93% {content: "-On Deck"}
  94% {content: "n Deck"}
  95% {content: " Deck"}
  96% {content: "Deck"}
  97% {content: "eck"}
  98% {content: "ck"}
  99% {content: "k"}
  100% {content: " "}
}

/* Customized colors */
.gold {
  color: #cbd4c2;
}

.jet {
  color: #1a1d20;
}

.blue {
  color: #247ba0;
}

.green {
  color: #6aaa61;
}

.silver {
  color: #c9c9c9;
}

.fuchsia {
  color: #cd9fcc;
}

.purple {
  color: #631a86;
}

.indigo {
  color: #3234a8;
}

.red {
  color: #a52a2a;
}

.link-hover-color {
  color: #abdf75;
  /* ONLY FOR LINKS! */
}

.bg-gold {
  background-color: #cbd4c2;
}

.bg-jet {
  background-color: #1a1d20;
  color: #fffdff;
}

.bg-blue {
  background-color: #247ba0;
  color: #fffdff;
}

.bg-silver {
  background-color: #c9c9c9;
}

.bg-fuchsia {
  background-color: #cd9fcc;
  color: #fffdff;
}

.bg-purple {
  background-color: #631a86;
  color: #fffdff;
}

.bg-green {
  background-color: #6aaa61;
  color: #fffdff;
}

.bg-indigo {
  background-color: #3234a8;
  color: #fffdff;
}

.bg-red {
  background-color: #a52a2a;
  color: #fffdff;
}

.bg-gold-gradient {
  background-color: #cbd4c2;
  background-image: var(--bs-gradient);
}

.bg-jet-gradient {
  background-color: #1a1d20;
  background-image: var(--bs-gradient);
  color: #fffdff;
}

.bg-blue-gradient {
  background-color: #247ba0;
  background-image: var(--bs-gradient);
  color: #fffdff;
}

.bg-green-gradient {
  background-color: #6aaa61;
  background-image: var(--bs-gradient);
  color: #fffdff;
}

.bg-silver-gradient {
  background-color: #c9c9c9;
  background-image: var(--bs-gradient);
}

.bg-fuchsia-gradient {
  background-color: #cd9fcc;
  background-image: var(--bs-gradient);
  color: #fffdff;
}

.bg-purple-gradient {
  background-color: #631a86;
  background-image: var(--bs-gradient);
  color: #fffdff;
}

.bg-indigo-gradient {
  background-color: #3234a8;
  background-image: var(--bs-gradient);
  color: #fffdff;
}

.bg-red-gradient {
  background-color: #a52a2a;
  background-image: var(--bs-gradient);
  color: #fffdff;
}

/* For body and footer positioning */
.body-container {
  /* margin-left: auto; */
  /* margin-right: auto; */
}

footer {
  margin-top: auto;
  color: #31343a;
}

/* Footer stuff */
.footercol {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: -5px;
  border-color: #ffffff;
  border-width: 0;
  border-left-width: medium;
  border-right-width: medium;
  border-radius: 0;
  background-color: inherit;
}

.carousel-image {
  background: linear-gradient(0deg,#00000088 30%, #ffffff44 100%)!important;
}

.animate__flash {
  --animate-duration: 5s;
}

/* Center all video in element */
video {
  display: block;
  margin: auto;
}
